/* .app-main {
  width: 100%;
  position: relative;
}
.echarts {
  width: 100% !important;
  height: 100% !important;
}
.main-content {
  height: 100%;
  background-color: #fcfcff;
}

aside {
  top: 86px;
} */

.q-card__section--vert {
  padding: 14px;
}

.btn-100 {
  width: 120px;
}

.btn-120 {
  width: 120px;
}

.btn-140 {
  width: 140px;
}
