/* .app-main {
  width: 100%;
  position: relative;
}
.echarts {
  width: 100% !important;
  height: 100% !important;
}
.main-content {
  height: 100%;
  background-color: #fcfcff;
}

aside {
  top: 86px;
} */

.q-card__section--vert {
  padding: 14px;
}

.q-btnx{
  min-width: 120px;
}

.btn-search {
  width: 140px;
}
